.container {
  height: 100vh;
  width: 100%;
  font-family: var(--main-font);
  background-color: var(--third-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cennik{
  height: 62vh;
  width: 50%;
  transition: all 0.5s ease-in-out;
  padding: 40px;
  background-color: var(--third-color);
  border: 1px solid var(--border-color)
}

.cennik h1{
  font-size: 40px;
  text-align: center;
  font-family: var(--logo-font);
  letter-spacing: 0.1rem;
}

.cennik h3{
  margin-top: 25px;
  font-size: 20px;
  text-align: center;
}

.cennik hr {
  margin: 0 30px 10px 30px;

}

.flex {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.flex p {
  width: 30%;
  margin-left: 20%;
}

@media(max-width: 1100px){
  .outer-container {
    height: 62vh;
    width: 70%;
  }

}

@media(max-width: 700px){
  .outer-container {
    height: 60vh;
    width: 90%;
  }

}