.container {
  height: 100vh;
  width: 100%;
  font-family: var(--main-font);
  background-color: var(--third-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cennik{
  height: 62vh;
  width: 40%;
  padding: 20px;
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cennik h1{
  font-size: 2.5rem;
  text-align: center;
  font-family: var(--logo-font);
  letter-spacing: 0.1rem;
}

.cennik h3{
  margin-top: 25px;
  font-size: 1.3rem;
  text-align: center;
}

.cennik hr {
  margin: 0 30px 10px 30px;

}

.flex {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.flex p {
  width: 30%;
  margin-left: 20%;
}

@media (max-height: 900px) {
  .container {
    padding-bottom: 160px;
    padding-top: 50px;
  }
  .cennik {
    height: 80vh
  }
}

@media (max-width: 1050px) {
  .container {
    padding-top: 50px;
    padding-top: 120px;
  }
  .cennik {
    width: 100%;
    height: 80vh;
    border: none;
  }
}

