.Home {
  height: 100vh;
  width: 100%;
  color: black;
  padding-top: 80px
}

.top-container {
  height: 80vh;
  background-color: var(--logo-color);
}

.main-img{ 
  height: 80vh;
}

.second-img, .third-img {
  width: 18%;
}

.second-img {
  padding-right: 5%;
  margin-bottom: -300px
}

.third-img {
  margin-bottom: -150px;
}