.Home {
  height: 100%;
  width: 100%;
  color: black;
}


.top-container {
  height: 80vh;
  background-color: var(--secondary-color);
}

.title-flex{
  margin-left: 30%;
  padding-top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

.top-container h1 {
  font-size: 100px;
  font-family: var(--logo-font);
}

.top-container h2 {
  font-size: 30px;
  font-style: italic;
  font-family: var(--main-font);
}

.top-container h2 a {
  cursor: pointer;
  text-decoration: none;
  color: var(--font-color);
  transition: all 0.5s ease-in-out;
}

.top-container h2 a:hover {
  margin-left: 10px;
}

.main-img{ 
  height: 80vh;
}

.second-img, .third-img {
  width: 18%;
}

.second-img {
  padding-right: 5%;
  margin-bottom: -200px
}

.third-img {
  margin-bottom: -100px;
}

.img {
  padding-top: 0;
  margin-top: -20.2%;
}

.about-container {
  height: 60vh;
  background-color: var(--third-color);
  padding: 30% 10% 0 10%;
  display: flex;
  justify-content: center;
}

.about-container h1 {
  width: 40%;
  font-size: 50px;
  font-family: var(--logo-font);
}

.about-container p {
  width: 800px;
  font-size: 20px;
  font-family: var(--main-font);
}

#signature {
  text-align: end;
  margin-top: 10%;
  font-size: 30px;
  font-family: var(--logo-font);
}

.link-to-contact{
  color: var(--logo-color);
}
