.regulamin{
  height: 100vh;
  width: 100%;
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#image {
  animation: slide-right 3s;
  height: 100%;
}

.regulamin-container {
  padding-right: 4%;
  padding-left: 4%;
  font-family: var(--main-font);
}


.regulamin-container h1, .regulamin-container h3 {
  font-family: var(--logo-font);
  letter-spacing: 0.1rem;
  text-align: center;
}

.regulamin-container h1 {
  font-size: 80px;
}

.regulamin-container h3 {
  font-size: 30px;
  margin-bottom: 50px;
}

.regulamin-container p {
  font-size: 18px;
  text-align: center;
  margin: 12px 0 12px 0;
}

.float {
  font-style: italic;
  padding-top: 5%;
  width: 400px;
  float: right;
}

@keyframes slide-right {
  from {
    margin-left: -100%;
  }

  to {
    margin-left: 0%;
  }
}


@media(max-width: 450px) {
  .regulamin{
    display: block;
    height: 100%;
  }
  .regulamin-container h1 {
    font-size: 50px;
  }
  .regulamin-container h3 {
    font-size: 20px;
  }
  .regulamin-container p {
    font-size: 12px;
  }
  .regulamin-container {
    padding-bottom: 20px;
  }
  .float {
    display: none;
  }
}

@media (max-width: 1300px) {
  #image{
    display: none;
  }
  
  .regulamin {
    justify-content: center;
  }
  .regulamin-container {
    padding-top: 30px;
  }

  .regulamin-container h3{
    margin-bottom: 30px
  }

  .regulamin-container p {
    font-size: 15px;
  }

  .float {
    padding-top: 20px;
  }
}
@media (max-height: 800px) {
  .regulamin {
    height: 100%
  }

  .regulamin-container {
    padding-top: 30px;
  }

  .regulamin-container h3{
    margin-bottom: 30px
  }

  .regulamin-container p {
    font-size: 15px;
  }

  .float {
    padding-top: 20px;
  }
}