.wizyta{
  height: 90vh;
  width: 100%;
  background-color: var(--third-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

#calender-inline-widget {
  width: 100%;
}

#calender-inline-widget.r4nke {
  color:blueviolet;

}
#calender-inline-widget.BDYf9{
  font-family: var(--main-font);
}