.zalecenia{
  height: 100%;
  background-color: var(--third-color)
}

.zalecenia-laminacja-container{
  padding-top: 130px;
  height: 60vh;
  background-color: var(--main-color);
  display: flex;
  justify-content: space-around;
}

.zabieg-info{
  padding-left: 30px;
  width: 500px;
}

.zalecenia-laminacja-container img{
 height: 120%;
}

.zalecenia-brwi-rzęsy h1{
  font-family: var(--logo-font);
  font-size: 50px
}

.zalecenia-brwi-rzęsy {
  font-family: var(--main-font);
  margin-right: 20%;
  padding-top: 5%
}

.zalecenia-brwi-rzęsy h3, .zalecenia-brwi-henna h3, .zalecenia-brwi-rzęsy p, .zalecenia-brwi-henna p {
  text-align: center;
}

.zalecenia-brwi-rzęsy h3, .zalecenia-brwi-henna h3 {
  margin: 10px 0;
}

.zalecenia-koloryzacja-container{
  margin-top: 170px;
  height: 60vh;
  display: flex;
  justify-content: space-around;
  padding-bottom: 100px;
}

.zalecenia-koloryzacja-container img{
  width: 100%;
}

.zabieg-info-henna{
  padding-right: 30px;
  width: 600px;
}

.zalecenia-brwi-henna {
  font-family: var(--main-font);
  margin-left: 5%;
  padding-top: 8%
}

.zalecenia-rzęsy-container {
  padding-top: 130px;
  height: 60vh;
  background-color: var(--background-color);
  display: flex;
  justify-content: space-around;
}

.zalecenia-rzęsy-container img {
  height: 120%;
  width: 30%;
  margin-top: -160px;
  margin-right: 100px;
}

@media (max-width: 900px){
  .zalecenia-laminacja-container img,
  .zalecenia-koloryzacja-container img,
  .zalecenia-rzęsy-container img{
    display: none;
  }

  .zalecenia-brwi-container, .zalecenia-koloryzacja-container, .zalecenia-laminacja-container {
    display: block
  }
}