.zalecenia{
  height: 100%;
  background-color: var(--third-color)
}

.zalecania-laminacja-container{
  padding-top: 50px;
  height: 60vh;
  background-color: var(--main-color);
  display: flex;
  justify-content: space-around;
}

.zabieg-info{
  padding-left: 30px;
  width: 500px;
}

.zalecania-laminacja-container img {
 height: 700px;
}

.zalecenia-brwi h1{
  font-family: var(--logo-font);
  font-size: 50px
}

.zalecenia-brwi {
  font-family: var(--main-font);
  margin-right: 20%;
  padding-top: 5%
}

.zalecenia-brwi h3, .zalecenia-brwi-henna h3, .zalecenia-brwi p, .zalecenia-brwi-henna p {
  text-align: center;
}

.zalecenia-brwi h3, .zalecenia-brwi-henna h3 {
  margin: 10px 0;
}

.zalecenia-koloryzacja-container{
  margin-top: 170px;
  height: 60vh;
  display: flex;
  justify-content: space-around;
}

.zalecenia-koloryzacja-container img{
  width: 750px;
  height: 600px;
}


.zabieg-info-henna{
  padding-right: 30px;
  width: 600px;
}

.zalecenia-brwi-henna {
  font-family: var(--main-font);
  margin-left: 5%;
  padding-top: 8%
}