:root{
  --main-color: #FFE5EC;
  --secondary-color: #FFC2D1;

  --logo-font : "Lobster", sans-serif;
  --logo-color: #FB6F92;

  --main-font: "Lora", serif;
  --font-color: rgb(28, 28, 28);
}

* {
  margin: 0;
  padding: 0;
  background-color: var(--main-color);
}